.container{
    display: flex;
    gap: 50px;
    border-style: double;
    background-color: rgb(168, 170, 170);
}
h1{
    border-style: groove;
    border-color: rgb(255, 255, 255);
}
h2{
    font-style: italic;
}
h3{
     font-style: italic
     
}
#button{
    padding: 40px;
   
}
.TOPNAV li{
    display: inline;
    margin: 10px;
    
    
}
